@page "/"

<PageTitle>Blazing Weather</PageTitle>

<img id="icon" src="icon.png" alt="icon" style="width: 50%; height:50%" />

<h4>Welcome to Blazing Weather</h4>

<p>
    <ul>

        <li>
            Retrieves coordinates from OpenWeather Geocoding API
        </li>

        <li>
            Retrieves weather from OpenWeather Current Weather API based on coordinates (lat/long) (current + forecast)
        </li>

        <li>
            Saves encrypted data to local storage for each zip code
        </li>

        <li>
            Weather displayed through a reusable component
        </li>
        <li>
            Input validation on zip code
        </li>


    </ul>
</p>